.cykleTimeModule {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
}

.cykleTimeModule>header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.cykleTimeModule>main {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px 60px;
}

.cykleTimeModule>main>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cykleTimeModule>main .formContainer {
    flex-direction: column;
    gap: 20px;
}

.cykleTimeModule>main .formContainer>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: tomato;
}