.services-container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
}

.services-container nav {
    width: 100%;
    height: 35px;
    background-color: var(--bg-color-primary);
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    border-radius: 10px;
}
.services-container nav .nav-link {
    margin-right: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: var(--primary-color);
    width: 130px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.services-container nav .nav-link:hover {
    background-color: #bababa; 
    transition: 0.3s;
}
.services-container nav .logOutBar{
    position: absolute;
    right: 10px;
}


.services-container .outlet-container {
    width: 100%;
    height: auto
}   


