.services-container {
    width: 100%;
    height: 100%;
    background-color: white;
}

.services-container nav {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.services-container nav .nav-link {
    margin-right: 15px;
    color: white;
    text-decoration: none;
    border: 1px solid rgb(119, 119, 119);
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #555;
}
.services-container nav .nav-link:hover {
    background-color: #bababa; 
    transition: 0.3s;
}
.services-container .outlet-container {
    width: 100%;
    height: 100%;
}   


