* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


[data-theme="dark"] {
  --primary-color: #282c34;             /* header */
  --secondary-color: #818cab;
  --font-color-primary: #e1e1ff;        /* title */
  --font-color-secondary: #e1e1ff;      /* p */
  --bg-color-primary: #161625;
  --bg-color-secondary: #161625;
  --heading-color: #818cab;
}

[data-theme="light"] {
  --primary-color: #ffffff;             /* header */
  --secondary-color: #818cab;         
  --font-color-primary: #e1e1ff;        /* title */
  --font-color-secondary: #000000;      /* p */
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #07a749;
  --heading-color: #818cab;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}