.pageHeaderComponent {
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageHeaderComponent .headerContent{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
