.pageHeaderComponent {
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-five);
    margin: 5px;
    color: white;
    border-radius: 10px;

}

.pageHeaderComponent .headerContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 950px) {
    .pageHeaderComponent {
        background-color: var(--bg-color-five);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        color: white;
        margin: 5px;
        border-radius: 0px;
    }
}