.main_container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.main_container>header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--primary-color);
    color: white;
    gap: 15px;
    padding-left: 150px;
}

.main_container>header>h1 {
    width: auto;
    height: 40px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: rgb(14, 215, 14);

}

.main_container>header>p {
    width: auto;
    height: 40px;
    display: flex;
    align-items: end;
    background-color: var(--primary-color);
    color: var(--font-color-secondary);
    padding-bottom: 5px;
}

.main_container>nav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-primary);
    border-radius: 10px;
}

.main_container>nav .navigationBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 55px;
}

.main_container>nav .navigationBar .nav-link {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 25px;
    font-size: 13px;
}

.main_container>nav .navigationBar .nav-link:hover {
    transition: 0.3s;
    box-shadow: inset 0 0 5px #97de96;
}

.main_container>main {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px 60px;
}


.main_container>footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #282c34;
    color: white;
    bottom: 0;
    padding-right: 20px;
    font-size: 13px;
}

/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */

@media (max-width: 950px) {

    .main_container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: #000000;
    }

    .main_container>header {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        flex-direction: column;
        padding-left: 0px;

    }

    .main_container>header>h1 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(14, 215, 14);
        font-size: 18px;

    }

    .main_container>header>p {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-size: 14px;


    }

    .main_container>nav {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
    }

    .main_container>nav .navigationBar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .main_container>nav .navigationBar .nav-link {
        padding: 3px 10px;
        background-color: rgb(160, 160, 160);
        border-radius: 5px;
        color: #000000;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        align-items: center;
        width: 80px;
    }

    .main_container>main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        background-color: #07a749;
        position: relative;
    }







}