.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #f0f0f0;
}

.main .header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: white;
}

.main .navigationBar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #61dafb;
}

.main .navigationBar>nav {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.main .navigationBar>nav .nav-link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}