.speed-cut-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #2cc28d;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 300px;
    max-height: 300px;
    width: 80%;
    max-width: 600px;
    min-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.speed-cut-component header {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
}

.speed-cut-component header h1 {
    font-size: 16px;
    color: #000000;
}

.speed-cut-component main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.speed-cut-component main .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.speed-cut-component main .form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.speed-cut-component main .form-container form label {
    font-size: 12px;
    position: relative;
    top: 8px;
}

.speed-cut-component main .form-container form input {
    width: 80%;
    height: 25px;
    padding: 5px 3px;
    border: 1px solid #ccc;
    border-radius: 9px;
    text-align: center;
    font-size: 16px;
}

.speed-cut-component main .form-container form button {
    width: 200px;
    padding: 8px 12px;
    background-color: #5130b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.speed-cut-component main .formula-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #e0f7f1;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.speed-cut-component main .formula-container .formula-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.speed-cut-component main .formula-container .formula-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    color: #333;
}

.speed-cut-component main .formula-container .formula-body span {
    font-size: 12px;
    color: #333;
    display: block;
}


.speed-cut-component article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.speed-cut-component article .result {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #000000;
    gap: 15px;
}

.speed-cut-component article .result .result-text {
    font-weight: bold;
    align-items: center;
    display: flex;
    font-size: 20px;
}

.speed-cut-component article .result .result-speed {
    font-size: 28px;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
}

.speed-cut-component article .result .result-speed span {
    font-weight: bold;
    color: #000000;
    margin-left: 8px;
}

.speed-cut-component article .result .result-speed span::first-letter {
    font-weight: bold;
}

/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */
@media (max-width: 950px) {

    .speed-cut-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background-color: #2cc28d;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 300px;
        max-height: 300px;
        border-radius: 0;
    }

}