.speed-cut-module {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    font-size: 10px;
}


.speed-cut-module>header {
    background-color: var(--bg-color-five);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: white;
    margin: 5px;
    border-radius: 10px;
}

.speed-cut-module>main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.speed-cut-module>main .introComponent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--bg-color-fouth);
    border-radius: 10px;
}

.speed-cut-module>main .calculationComponents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.speed-cut-module>main .calculationComponents .speedOfRotationComponent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.speed-cut-module>main .calculationComponents .cutSpeedComponent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.speed-cut-module>footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 44, 52);
    color: white;
}


/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */
@media (max-width: 950px) {

    .speed-cut-module {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background-color: rgb(255, 255, 255);
        padding: 5px 10px;
    }

    .speed-cut-module>header {
        background-color: var(--bg-color-five);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        color: white;
        margin: 5px;
        border-radius: 0px;
    }

    .speed-cut-module>main {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .speed-cut-module>main .introComponent {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .speed-cut-module>main .calculationComponents {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .speed-cut-module>main .calculationComponents>div {
        width: 100%;
        height: 100%;
    }






}