.intro {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .intro_header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro .intro_header h2 {
    text-align: center;
    font-size: 24px;
    width: 100%;
    height: 100%;
}

.intro .intro_header p {
    font-size: max(12px, min(14px, 1.2vw));
    width: 100%;
    height: 100%;
}


.intro .intro_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .intro_main ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .intro_main ul li {
    margin-bottom: 10px;
    font-size: max(12px, min(14px, 1.2vw));
    list-style-type: none;
    width: 100%;
    height: 100%;
}

/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */
@media (max-width: 950px) {

    .intro {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 30px;
    }

    .intro .intro_header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }

    .intro .intro_header h2 {
        text-align: center;
        font-size: 15px;
        width: 100%;
        height: auto;
    }

    .intro .intro_header p {
        width: 100%;
        height: 100%;
    }


    .intro .intro_main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .intro .intro_main ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro .intro_main ul li {
        margin-bottom: 10px;
        font-size: max(12px, min(15px, 1.2vw));
        list-style-type: none;
        width: 100%;
        height: 100%;
    }

}