.educationModule {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.educationModule header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-primary);
  border-radius: 10px;
}

.educationModule main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 10px;
}

.educationModule main>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.educationModule main .education_text {
  width: 100%;
}

.educationModule main .education_text .content_text {
  width: auto;
  height: auto;
  padding: 10px;
  padding-left: 90px;
}

.educationModule main .education_text .content_text .blockHeader {
  font-size: 18px;
  color: green;
}

.educationModule main .education_text .content_text .blockText {
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding-left: 30px;
}

.educationModule main .education_text .content_text .blockListHead {
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding-left: 30px;
  font-weight: bold;
}

.educationModule main .education_text .content_text .blocklistBody {
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding-left: 60px;
}


/* !..................................... */
/* !..................................... */
/* !..................................... */

.educationModule main .education_table {
  background-color: rgb(255, 255, 255);
}


.educationModule main .education_table table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

.educationModule main .education_table table caption {
  caption-side: top;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}

.educationModule main .education_table table th,
td {
  border: 1px solid #bbb;
  padding: 8px 10px;
  text-align: left;
  vertical-align: top;
}

.educationModule main .education_table table th {
  background: var(--bg-color-primary);
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #111;
  }

  th {
    background: #1a1a1a;
  }

  table,
  th,
  td {
    border-color: #333;
  }
}

/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */

@media (max-width: 950px) {
  .educationModule {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.educationModule header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-primary);
  border-radius: 10px;
  flex-direction: column;
}

.educationModule main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 10px;
  flex-direction: column;
}

.educationModule main>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.educationModule main .education_text {
  width: 100%;
}

.educationModule main .education_text .content_text {
  width: auto;
  height: auto;
  padding: 10px;
  padding-left: 0px;
}

.educationModule main .education_text .content_text .blockHeader {
  font-size: 18px;
  color: green;
}

.educationModule main .education_text .content_text .blockText {
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding-left: 30px;
}

.educationModule main .education_text .content_text .blockListHead {
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding-left: 30px;
  font-weight: bold;
}

.educationModule main .education_text .content_text .blocklistBody {
  font-size: 13px;
  color: rgb(0, 0, 0);
  padding-left: 60px;
}


/* !..................................... */
/* !..................................... */
/* !..................................... */

.educationModule main .education_table {
  background-color: rgb(255, 255, 255);
}


.educationModule main .education_table table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

.educationModule main .education_table table caption {
  caption-side: top;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}

.educationModule main .education_table table th,
td {
  border: 1px solid #bbb;
  padding: 8px 10px;
  text-align: left;
  vertical-align: top;
}

.educationModule main .education_table table th {
  background: var(--bg-color-primary);
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #111;
  }

  th {
    background: #1a1a1a;
  }

  table,
  th,
  td {
    border-color: #333;
  }
}
}