.grindWhellModule {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
    font-size: 10px;
}

.grindWhellModule>header {
    background-color: var(--bg-color-five);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: white;
    margin: 5px;
    border-radius: 10px;
}

.grindWhellModule>main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    flex-direction: column;
}

.grindWhellModule>main>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
     background-color: var(--bg-color-fouth);
  border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grindWhellModule>main .grindWhellContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    
}

.grindWhellModule>main .grindWhellContent>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
   
}

.grindWhellModule>main .grindWhellContent .formContainer {
    width: 60%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

.grindWhellModule>main .grindWhellContent .formContainer .formHeader {
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grindWhellModule>main .grindWhellContent .formContainer>form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.grindWhellModule>main .grindWhellContent .formContainer>form>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 30px;
}

.grindWhellModule>main .grindWhellContent .formContainer>form>div>label {
    width: auto;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.grindWhellModule>main .grindWhellContent .formContainer>form>div>input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    text-align: center;
}

.grindWhellModule>main .grindWhellContent .formContainer>form>div>div>input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    text-align: center;
}

/* !.......................... */
/* !.......................... */
.grindWhellModule>main .grindWhellContent .resultBlock {
    height: 100%;
    width: 100%;
}

.grindWhellModule>main .grindWhellContent .resultBlock>div {}


/* !......................................................................... */
/* !......................................................................... */
/* !......................................................................... */