.grindWhellModule {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
    font-size: 10px;
}

.grindWhellModule>header {
    background-color: var(--bg-color-five);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: white;
    margin: 5px;
    border-radius: 10px;
}

.grindWhellModule>main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.grindWhellModule>main>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border: 1px solid;

}