.grindingSchema {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.grindingSchema article {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: aquamarine;
}

.grindingSchema .grindingSchema_article_leftSide {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grindingSchema .grindingSchema_article_rightSide {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}