.vehiclegForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}
.vehiclegForm .piecesData{
  width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vehiclegForm .piecesData .formBlockCaculate{
     width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border: 1px solid red;
    padding-top: 10px;
}


.vehiclegForm .piecesData .formBlockCaculate>form {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: blue;
}

.vehiclegForm .piecesData .formBlockCaculate>form .Block {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}

.vehiclegForm .piecesData .formBlockCaculate>form .Block>label {
    width: 140px;
    height: 20px;
    text-align: center;
}

.vehiclegForm .piecesData .formBlockCaculate>form .Block>input {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}