.vehiclegForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.vehiclegForm .piecesData {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.vehiclegForm .piecesData .formBlockCaculate {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border: 1px solid red;
    padding-top: 10px;
}


.vehiclegForm .piecesData .formBlockCaculate>form {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(169, 222, 205);
}

.vehiclegForm .piecesData .formBlockCaculate>form .Block {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(255, 255, 255);
}

.vehiclegForm .piecesData .formBlockCaculate>form .formButton {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 53, 53);
}
.vehiclegForm .piecesData .formBlockCaculate>form .formButton>button{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 193, 53);
    border-radius: 10px;
}


.vehiclegForm .piecesData .formBlockCaculate>form .Block>label {
    width: 140px;
    height: 20px;
    text-align: center;
}

.vehiclegForm .piecesData .formBlockCaculate > form .Block > input,
.vehiclegForm .piecesData .formBlockCaculate > form .Block > .selector {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
    border: 1px solid black;
}

.vehiclegForm .piecesData .formBlockCaculate .resultCalculate {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: bisque;
}

.vehiclegForm .piecesData .formBlockCaculate .resultCalculate>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}