.wellcome-mod {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.wellcome-mod>div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wellcome-mod .left-section {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 70%;
}

.wellcome-mod .left-section .left_content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0px 15px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-color-secondary);
    width: 100%;
    height: 600px;
}

.wellcome-mod .left-section .left_content>img {
    width: 70%;
    height: auto;
}

.wellcome-mod .right-section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    padding: 0px 10px 0px 0px;

}

.wellcome-mod .right-section>div {
    width: 100%;
}

.wellcome-mod .right-section .right_tittle {
    background-color: var(--bg-color-secondary);
    box-shadow: 8px 2px 5px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100px;
    padding-right: 100px;
    position: relative;
}

.wellcome-mod .right-section .right_tittle>h1 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 550px;
    right: 0;
    height: 100%;
}

.wellcome-mod .right-section .right_content {
    width: 100%;
    height: 100px;
    padding: 0px 10px;
}

.wellcome-mod .right-section .right_content>p {
    width: 100%;
    height: 150px;
    font-size: 18px;
    margin-bottom: 30px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wellcome-mod .right-section .right_list {
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wellcome-mod .right-section .right_list .list_tittle {
    font-size: 15px;
    margin-bottom: 10px;
}

.wellcome-mod .right-section .right_list .list_content {
    margin-bottom: 20px;
}

.wellcome-mod .right-section .right_list .list_content>li {
    margin: 10px 0px;
    text-align: left;
    list-style: inside;
    font-size: 15px;
}


/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */
@media (max-width: 950px) {

    .wellcome-mod {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        inset: 0;
        align-items: center;
        background-color: var(--bg-color);
        justify-content: start;
    }

    .wellcome-mod .left-section {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .wellcome-mod .left-section .left_content {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 0px 15px 5px rgba(0, 0, 0, 0.1);
        background-color: var(--bg-color-secondary);
        width: 100%;
        height: 100%;
    }

    .wellcome-mod .left-section .left_content>img {
        width: 80%;
        height: auto;
    }

    .wellcome-mod .right-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .wellcome-mod .right-section {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        padding: 0px 0px 0px 0px;
        background-color: var(--primary-color);
    }

    .wellcome-mod .right-section>div {
        width: 100%;
    }

    .wellcome-mod .right-section .right_tittle {
        background-color: var(--bg-color-primary);
        box-shadow: 8px 2px 5px 3px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        padding-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wellcome-mod .right-section .right_tittle>h1 {
        font-size: 40px;
        color: rgb(0, 0, 0);
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        height: 100%;
    }
}