.wellcome-mod {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    flex-direction: row;
}

.wellcome-mod .left-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wellcome-mod .left-section>img {
    width: 600px;
    height: 600px;
}

.wellcome-mod .right-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wellcome-mod .right-section>h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wellcome-mod .right-section>p {
    font-size: 24px;
    margin-bottom: 30px;
    color: white;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}


/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */
@media (max-width: 950px) {

    .wellcome-mod {
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: rgb(224, 224, 224);
    }

    .wellcome-mod .left-section {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wellcome-mod .left-section>img {
        width: 100%;
        height: 100%;
    }

    .wellcome-mod .right-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}