.wellcome-mod {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.wellcome-mod>div {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wellcome-mod .left-section {
    flex: 1;
}

.wellcome-mod .left-section>img {
    width: 600px;
    height: 600px;
}

.wellcome-mod .right-section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--primary-color);
    justify-content: start;
}

.wellcome-mod .right-section>div {
    width: 100%;
    border: 1px solid var(--secondary-color);
}

.wellcome-mod .right-section .right_tittle {
    background-color: var(--primary-color);
    width: 100%;
    height: 300px;
}

.wellcome-mod .right-section .right_tittle>h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.wellcome-mod .right-section .right_content {
    width: 100%;
    height: 400px;
background-color: var(--bg-color-third);

}

.wellcome-mod .right-section .right_content>p {
    width: 100%;
    height: 150px;
    font-size: 24px;
    margin-bottom: 30px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wellcome-mod .right-section .right_list {
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: var(--font-color-secondary);
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wellcome-mod .right-section .right_list .list_tittle {
    font-size: 22px;
    margin-bottom: 10px;
}

.wellcome-mod .right-section .right_list .list_content {
    margin-bottom: 20px;
}

.wellcome-mod .right-section .right_list .list_content>li {
    margin: 5px 0px;
    text-align: left;
}


/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */
@media (max-width: 950px) {

    .wellcome-mod {
        display: flex;
        flex-direction: column;
        position: absolute;
        inset: 0;
        align-items: center;
        background-color: var(--bg-color);
    }

    .wellcome-mod .left-section {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .wellcome-mod .left-section>img {
        width: 100%;
        height: 100%;
    }

    .wellcome-mod .right-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}