.calculateTkz {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculateTkz .calculate_block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}



.calculateTkz .calculate_block .formCalculate_select {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.calculateTkz .calculate_block .formCalculate_select>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

.calculateTkz .calculate_block .displaySelectMachineBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 211, 211);
    flex-direction: row;
}

.calculateTkz .calculate_block .displaySelectMachineBlock .formSelectBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculateTkz .calculate_block .displaySelectMachineBlock .calculateValueBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.calculateTkz .calculate_block .displaySelectMachineBlock .calculateValueBlock>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */
/* !------------------------------------ */
@media (max-width: 950px) {
.calculateTkz {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculateTkz .calculate_block {
    width: 100%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}



.calculateTkz .calculate_block .formCalculate_select {
    width: 100%;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.calculateTkz .calculate_block .formCalculate_select>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.calculateTkz .calculate_block .formCalculate_select .type_mashineBlock {
    gap: 10px;
    background-color: blanchedalmond;
    padding: 5px;
}
.calculateTkz .calculate_block .formCalculate_select .type_mashineBlock .selector {
    width: 180px;
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    text-align: center;
}


/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

.calculateTkz .calculate_block .displaySelectMachineBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0);
    flex-direction: column;
}

.calculateTkz .calculate_block .displaySelectMachineBlock .formSelectBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
}

.calculateTkz .calculate_block .displaySelectMachineBlock .calculateValueBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.calculateTkz .calculate_block .displaySelectMachineBlock .calculateValueBlock>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
    
}