.calculateTkz {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculateTkz .calculate_block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}



.calculateTkz .calculate_block .formCalculate_select {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */

.calculateTkz .calculate_block .displaySelectMachineBlock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}