.whellSignal_module {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.whellSignal_module header {
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    background-color: var(--primary-color);
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whellSignal_module main {
    width: 80%;
    background-color: var(--bg-color-secondary);
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whellSignal_module main .whellSignal_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.whellSignal_module main .whellSignal_form form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.whellSignal_module main .whellSignal_form form .tprm_block{
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.whellSignal_module main .whellSignal_form form .tprm_block .valueAllPieces{
    background-color: aqua;
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}